@media (max-width: 1139.98px){
	.main-page__content {
		max-width: 900px;
	}
    .main-page__container{
    background: linear-gradient(90deg, rgba(255,250,241,1) 44%, rgba(33,33,33,1) 44%);
    }
}

@media (max-width: 990.98px) {
    .main-page__container{
        background: linear-gradient(90deg, rgba(255,250,241,1) 48%, rgba(33,33,33,1) 48%);
        }
    .main-page__content {
		max-width: 800px;
	}
	
}

@media (max-width: 767.98px) {
    [class*="__container"]{
        padding: 0;
        background: none;
    }
	.main-page__content{
		max-width: 100%;
        display: flex;
        flex-direction: column;
		padding-top: 0;
	}
   
    .hobbies__content{
        display: grid;
        grid-template-columns: repeat(2,  6.25rem);
        justify-content: start;
        column-gap: 1.625rem;
    }
    .languages__content{
        display: flex;
        justify-content: start;
        gap: 0.625rem;
    } 
    .aside-main__text{
        max-width: 100%;
    }
}

@media (max-width: 480px){
    [class*="__container"]{
        padding: 0;
        background: none;
    }
	.main-page__content{
		max-width: 25rem;
        display: flex;
        flex-direction: column;
		padding-top: 0;
	}
   
    .hobbies__content{
        display: grid;
        grid-template-columns: repeat(2,  6.25rem);
        justify-content: center;
        column-gap: 1.625rem;
    }
    .languages__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    } 
    .aside-main__text{
        max-width: 100%;
    }
}