@media (max-width: 1139.98px){
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 990.98px) {
	[class*="__container"] {
		max-width: 750px; 
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: 450px;
        display: flex;
        flex-direction: column;
		/* max-width: none; */
	}
   
    .hobbies__content{
        display: grid;
        grid-template-columns: repeat(2,  6.25rem);
        justify-content: center;
        column-gap: 1.625rem;
    }
    .languages__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    } 
}